@charset "UTF-8";

:root {
    --cor0: #49a09d;
    --cor1: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    html, body {
        background-image: linear-gradient(var(--cor1), var(--cor0));
    }
    #login {
        width: 80vw;
        height: 300px;
    }
    #imagem {
        float: left;
        height: 100%;
        width: 30%;
    }
    #formulario {
        float: right;
        width: 66%;
        height: 100%;
    }

}

@media screen and (min-width: 992px) {
    html, body {
        background-image: linear-gradient(var(--cor1), var(--cor0));
    }
    #login {
        width: 950px;
        height: 350px;
    }
    #imagem {
        float: right;
        height: 100%;
        width: 45%;
    }
    #formulario {
        float: left;
        width: 52%;
    }
    section > div#formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    section > div#formulario > p {
        padding: 10px;
        font-size: 1.2em;
        line-height: 1.3em;
    }
    
    
}

